@import "tailwindcss";
@source "../views";

@custom-variant dark (&:where(.dark, .dark *));

.card{
    @apply block max-w-full bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700
}
